/* 
    Created on : Jan 1, 2019, 11:53:45 AM
    Author     : MD Hafijul Islam
*/
html,
body{
    height: 100%;
    background-color: #2f4050;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-nav li {
    font-weight: bold;
    font-size: 1.1em;
    font-family: Bitter, Georgia, "Times New Roman", serif;
}

.navbar-nav li:hover {
    color: #ffffff;
    background-color: #1ab394;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
}

.profile {
    display: block;
    margin: 10px 5px 10px 5px;
}

.profile-pic{
    position: relative;
    width: 70%;
    align-items: center;
    border: 3px solid #ffffff;
}

.profile-name {
    display: inline;
    position: relative;
    color: #ffffff;
    text-align: center;
}

.profile-name p {
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.sidebar-form {
    overflow: hidden;
    text-overflow: clip;
    display: block !important;
    -webkit-transform: translateZ(0);
    border-radius: 3px;
    border: 1px solid #374850;
}

.sidebar-form input:focus {
  border-color: transparent;
}

.sidebar-form > #search-btn {
    margin-top: -2px;
}
#side-menu {
    display: block;
}

#side-menu a {
    color: #9fb1c2;
}

#side-menu a:hover {
    color: #ffffff;
    background-color: #1ab394;
    font-weight: bold;
}

#side-menu a span {
    padding-right: 0.5em;
}

#side-menu .active a {
    color: #ffffff;
    background-color: #27aae1;
    font-weight: bold;
}

.col-sm-10 {
    background-color: #ffffff;
}

#footer {
    margin: 0px 0px 10px 0px;
    border-top: 1px solid #000000;
    padding: 1em;
    background-color: #211f22;
    color: #eeeeee;
    text-align: center;
}
#footer p {

    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.contact-link {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}