/* 
    Created on : Jan 1, 2019, 11:53:45 AM
    Author     : MD Hafijul Islam
*/
html,
body{
    height: 100%;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-nav li {
    font-weight: bold;
    font-size: 1.1em;
    font-family: Bitter, Georgia, "Times New Roman", serif;
}

.navbar-nav li:hover {
    color: #ffffff;
    background-color: #1ab394;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
}

#collapse .active li {
    color: #ffffff;
    background-color: #27aae1;
    font-weight: bold;
}

.blogpost {
    background-color: #f5f5f5;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
}

.blogpost-detail {
    padding: 10px 10px 0px 10px;
    overflow: hidden;
}
.blogpost:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogpost-header {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
    color: #005E90;
    font-size: 1.1em;
    font-weight: normal;
    
}

.blogpost-header:hover {
    color: #0090DB;
}

.blogpost-header p{
    font-size: 1em;
    color: #878a8f;
}
.blogpost-title {
    font-family: Bitter, Georgia, "Times New Roman", serif;
    font-weight: bold;
    color: #005E90;
}

.blogpost-title:hover {
    color: #0090DB;
}

.blogpost-body {
    display: inline-block;
    margin: 10px;
}
.blogpost-body img {
    position: relative;
    align-items: center;
    vertical-align: central;
    width: 100%;
    height: auto;
}

.blogpost-description {
    color: #4f4848;
    font-weight: normal;
    margin-top: 10px;
    cursor: auto;
}

.blogpost-description a {
    text-decoration: none;
}

.comment-block{
    background-color:#F6F7F9;
    border-radius: 7px;
    margin: 0px 0px 20px 0px;
}
.comment-info{
    color: #3877ef;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 0px 0px 0px;	
}
.comment{
    margin-top:-2px;
    padding-bottom: 17px;
    font-size: 1.1em
}
.description{
    color: #868686;
    margin-top:-2px;
}
#footer {
    margin: 0px 0px 10px 0px;
    border-top: 1px solid #000000;
    padding: 1em;
    background-color: #211f22;
    color: #eeeeee;
    text-align: center;
}
#footer p {

    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.contact-link {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.feild-info {
    color: #ffb700;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Times New Roman";
}

.img-icon {
    margin: 0px auto;
    display: block;
    border: 3px solid #ffffff;
    max-width: 150px;
}

.list-category {
    margin-top: -35px;
    display: block;
    padding: 5px;
}

.list-category-item {
    color: #337ab7;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: #fff;
    border-bottom: 1px solid #000000;
    text-decoration: none;
}

.list-category-item a:hover{
    color: #23527c;
    text-decoration: underline;
}