.navbar-nav li {
    font-weight: bold;
    font-size: 1.1em;
    font-family: Bitter, Georgia, "Times New Roman", serif;
}

.navbar-nav li:hover {
    color: #ffffff;
    background-color: #1ab394;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
}

.blogpost {
    background-color: #f5f5f5;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
}

.blogpost:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogpost-header {
    font-family: Bitter, Georgia, "Times New Roman", serif;
    color: #005E90;
}

.blogpost-header:hover {
    color: #0090DB;
}

.blogpost-header p{
    font-size: 1.1em;
    color: #878a8f;
}
.blogpost-title {
    font-family: Bitter, Georgia, "Times New Roman", serif;
    font-weight: bold;
    color: #005E90;
}

.blogpost-title:hover {
    color: #0090DB;
}

.blogpost-body {
    display: inline-block;
    margin: 10px;
}
.blogpost-body img {
    position: relative;
    align-items: center;
    vertical-align: central;
    width: 100%;
    height: auto;
}

.blogpost-description {
    color: #4f4848;
    font-weight: bold;
    margin-top: 10px;
    cursor: auto;
}

.blogpost-description a {
    text-decoration: none;
}

#footer {
    margin: 0px 0px 10px 0px;
    border: 2px solid #001110;
    padding: 1em;
    background-color: #4ea1d0;
}
#footer p {
  
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.feild-info {
    color: #ffb700;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Times New Roman";
}